/* width */

body {
  font-family: "Open Sans", sans-serif;
  background: #111;
}
.btn-without-outline {
  border: none;
}

.container {
  border: springgreen solid 5px;
}
.row {
  display: flex;
  overflow-x: scroll;
  border: solid red 3px;
  padding: 10px;
  margin: 10px;
  margin-left: 50px;
  margin-right: 50px;
}
.col-xs-4 {
  flex: 0 0 auto;
}
footer ul li {
  color: #777;
}
.btn-color {
  color: #999;
  border: 1px solid white;
}

.card {
  transition: transform 0.7s ease-in-out;
  transform: scale(1);
  opacity: 0.7;
  margin: 10px;
  /* height: 350px; */
}
.card:hover {
  transform: scale(1.1);
  transition: transform 0.5s ease-in-out;
  box-shadow: 2px 2px 15px rgb(0, 0, 0);
  opacity: 1.1;
  cursor: pointer;
}
.card img {
  object-fit: fill;
  height: 280px;
}
